/*alert Offer Anouncement*/

.alert-custom {
  background-color: #faba42;
  color: white;
}

.btn-custom {
  background-color: rgb(168, 63, 63);
  margin-left: 2rem;
  color: white;
}

/* Navigation bar */
.bg-orange {
  background-color: #eed4a4;
}

.btn-outline-custom {
  background-color: #faba42;
}

/* Home  */
#home {
  background-color: #eed4a4;
  color: #a83f3f;
}

.btn-custom-home {
  background-color:#3b3737;
  color: white;
}

.btn-lg {
  padding: 1rem 1rem;
}

.courseCard {
  background-color: #b34c4c;
  color: white;
  margin: 1rem 1rem;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.2rem;
}

.resize img {
  width: 100%;
  height: 100%;
}

/* Why Bi-lingo */

.feature{
  position: relative;
  display: block;
  margin-top: 40px;
}
.feature .feature-icon{

  position:absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  border: 1px solid black;
  color: orange;
}

.feature-content{
  padding-left: 100px;
}

.about-img{
  margin-top: 40px;
}
 .about-img>img{
   width: 100%;
   vertical-align: middle;
   border: 0;
 }

/* Browse Course Section */

.courses {
  height: 100%;
}

.course_container {
  background-color: #393e5db3;
  padding: 0%;
  overflow: hidden;
  max-width: 370px;
  margin: 5px;
}

.course_container article {
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: all 0.5s ease;
}

.course_container h2 {
  color:white;
  font-weight: 800;
  font-size: 25px;
  border-bottom: white solid 1px;
}

.course_container h4 {
  font-weight: 300;
  color: white;
  font-size: 16px;
}

.course_container img {
  width: 100%;
  left: 0;
  opacity: 0.4;
  transition: all 4s ease;
}

.pricing {
  background-color: #f5b677;
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 70px);
  transition: all 0.2s ease-in-out;
}

.pricing span {
  font-size: 30px;
  color: #a83f3f;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 10px;
}

/*hovers*/

.course_container:hover {
  cursor: pointer;
}

.course_container:hover img {
  opacity: 0.1;
  transform: scale(1.5);
}

.course_container:hover article {
  transform: translate(2px, -69px);
}

.course_container:hover .pricing {
  transform: translate(0px, 0px);
  opacity: 1;
}

/* Why Bilingo */
#quote {
  margin: 4px;
  font-size: 1.2rem;
}

#quote>.bg-dark {
  background-color: #eed4a4 !important;
}

/* Offer Button */
.btn-offer-brown {
  background-color: #a83f3f;
  color: white;
}

/* Testimonials */

.testimonials {
  min-height: 90vh;
  display: flex;
  align-items: center;
  background-color: #e7b75d;
  font-family: 'Open Sans';
  font-style: italic;
}

#demo {
  background: linear-gradient(112deg, white 50%, #ebcf9b 50%);
  max-width: 800px;
  max-height: 400px;
  margin: auto
}

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: #4e4d4dda;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem
}

.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem
}


#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}


i.icon {
  background-color: #ec9d0a;
  padding: 1.4rem;
}

.carousel-control-prev {
  justify-content: flex-start
}

.carousel-control-next {
  justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset
}

@media(max-width:767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    color: #4e4d4dda;
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5rem
  }

  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem
  }

  #image-caption {
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }

  i {
    padding: 0.8rem
  }
}

/*FOOTER*/

footer {
  background-color: #a83f3f;
  color: white;
}

footer a {
  color: white;
  font-size: 14px;
  transition-duration: 0.5s;
}

footer a:hover {
  color: black;
  text-decoration: none;
}

footer i {
  font-size: 5rem;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid white;
}